{
  "arrowParens": "avoid",
  "plugins": [],
  "printWidth": 150,
  "semi": false,
  "trailingComma": "none",
  "overrides": [
    {
      "files": "*.html",
      "options": {
        "tabWidth": 2,
        "singleAttributePerLine": false,
        "htmlWhitespaceSensitivity": "ignore",
      }
    }
  ]
}
